<div ng-if="registerCtrl.registeredUser.username">
  User information: <br>
  {{registerCtrl.registeredUser.username}}<br>
  {{registerCtrl.registeredUser.phone}}<br>
  {{registerCtrl.registeredUser.email}}<br>


  <br><span>User's favorite dish: </span><br>
  <div class="container">
    <user-dish menu-item="registerCtrl.favItem">
    </user-dish>
  </div>

</div>

<div ng-if="!registerCtrl.registeredUser.username">
  Not Signed Up Yet.
  <br>
  <a ui-sref="public.register">Sign up Now!</a>
</div>
