<!doctype html>
<html lang="en" ng-app='LunchCheck' ng-controller='LunchCheckController'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch."
             class="form-control" ng-model="lunch.inputString" ng-class="lunch.inputType">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="performCheck()">Check If Too Much</button>
         </div>
         <div class="outputText" ng-class="lunch.inputType" class="form-group message">
           <!-- Your message can go here. -->
           {{lunch.notification}}
         </div>
   </div>

</body>
</html>
